@{
    ViewData["Title"] = "All You Ever Wanted To Know About the Cookie Jar Store (But Were Afraid To Ask)...";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h3><br>The Cookie Jar Store got it's start back in 2009 when CEO Jacob "JJ" Jamieson had a revelation....</h3>
    <p><br>While eating breakfast he began to daydream while staring blankly at his kitchen counter where lay an old ceramic cookie jar
        once bequethed to him by his late Grandmother, June. He smiled to himself as he thought back to his childhood. Whenever he would visit his Grandmother,
        the first thing she would say to him was; "Go and get one of Grandma's chocolate chip cookies!"
        <br><br />Jacob loved his Grandma's chocolate chip cookies, maybe even more than he loved his Grandma... <br></p>
    <p>Anyway, Jacob began thinking; cookie jars used to be a mainstay you'd find in every kitchen. They were as synonymous
        with the room as the stove, refridgerator, or....toaster. Over the years he'd seen less and less of them in people's houses.
        Where had the humble cookie jar gone? Jacob wondered. Maybe there's a market for them in today's economy...</p>
    <br><br />12 years later, The Cookie Jar Store employs more than one-hunderd people at it's headquarters in Dayton, Ohio,
            where they hand-craft only the best in cookie jar technology, using only the finest sourced materials. 
    <p><br />The Cookie Jar Store is the only place where you'll find the best and rarest, limited edition cookie jars money can buy.</p>
</div>


