@{
    ViewData["Title"] = "Home Page";
}

<div class="main-image">
    <img src="~/images/jars.jpg" />
    <p id="catalogue"><br /><a class="navbar-brand" asp-controller="Jars" asp-action="Index">TAKE ME TO YOUR JARS</a></p>
</div>
